package templs

templ Nav() {
    <header>
    <h1>Excel Replacement</h1>
    <nav>
        <menu>
            <li><a href="/">Workouts</a></li>
            <li><a href="/runs">Runs</a></li>
            <li><a href="/runs">Diet</a></li>
            <li><a href="/import">Import</a></li>
        </menu>
    </nav>
    </header>
}